        /********** Base styles **********/
        * {
            box-sizing: border-box;
        }
body{
    background-color: #EEFDD9;
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    
}


/** HEADER **/
.container{
    margin-left: 10px;
    margin-right: 10px;
    
}

.container-fluid {
  background-color: #9ccc5a;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 2px;

}

#main-content {
    margin-top: 30px;
    width:auto;
}


.title{
    font-size: 30px;
    margin-bottom: 10px;

}

.text-left{
margin-left: auto;
margin-bottom: 8px;
margin-top: 20px;
position: relative;
float: left;
font-size: 25px;
}

.item{
  background-color: #FFF173;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.navbar-default .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid black;
    border-radius: 4px;
  }

  .navbar-default .navbar-toggle:hover{
    background-color: #FFF173;
  }

  .navbar-default .navbar-brand{
  color: black;
}
  .navbar-toggle:focus {
    outline: 0;
  }

  .navbar-toggle:hover{
background-color: #EEFDD9;
  }
  .navbar-default .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  .navbar-collapse.collapse {
    display: none!important;
}
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav>li {
  border-top: 0.5px solid rgb(95, 93, 93);
  text-align: center;
  font-size: 25px;
  background-color: rgb(217, 247, 179);
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

.navbar-default .navbar-nav>li>a:hover{
  color:#555;
}
 .navbar-nav{
  position: static;
  margin: 0px;
 }